<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
         <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
      </layout>
   </appender>

   <logger name="org.springframework">
      <level value="warn"/>
   </logger>
   <logger name="no.trank.openpipe.jdbc">
      <level value="debug"/>
   </logger>
   <root>
      <level value="warn"/>
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>